<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"bb:container-md bb:py-12 bb:px-6","layout":{"type":"default"}} -->
<main class="wp-block-group bb:container-md bb:py-12 bb:px-6"><!-- wp:post-title {"level":1,"className":"bb:text-4xl bb:font-bold bb:leading-tight"} /-->

<!-- wp:post-date {"className":"bb:text-sm bb:text-muted bb:mt-2"} /-->

<!-- wp:post-content {"className":"bb:mt-8","layout":{"type":"default"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
